.header-section{

    background-image: url('../../assets/img/header-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    
   
}
