.header-section{

    background-image: url('../../assets/img/header-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    
   
}
.icon {
   
    
    padding-left: 30px;
    background: url("/src/assets/img/search.png") no-repeat left 3px center;
    background-size: 30px;
   
    
  } 
